
.form {
    /* background-color: thistle; */
    /* direction: rtl; */
    padding: 28px;
    padding-top: 0%;
    margin: 4px;
    overflow: 'hidden';
    /* border: 3px solid cornflowerblue; */
    border: 0px solid cornflowerblue;
    border-radius: 20px;
}

.title{
    text-align: center;
    direction: rtl;
}

.event-validation {
    margin-top: 12px;
}