
div.content{
    background-color: lightsteelblue;
    margin-top: 0px;
    border-radius: 0%;
}

div.box {
    /* background-color: thistle; */
    padding: 28px;
    padding-top: 0%;
    margin: 20px;
    /* overflow: 'hidden'; */
    /* border: 1px solid #000055 ; */
    /* border: 1px solid  #000055    ; */
    /* border: 1px solid  #fff   ; */
    border-radius: 20px;
    background-color: #fff;
}

.main-box-title{
    margin: 3px;
}

.box-title .button-box{
    /* color: cyan; */
    margin: 3px;
}

div .button-box{
    border-radius: 10px;
}


div.box-title{
    /* text-align: center;
    
    font-style: inherit; */
    /* background-color: blue; */
    /* font-size: 150%; */
    background:none repeat scroll 0 0 #fff;
    color: #000055;
    font-family:'tahoma',sans-serif;
    font-size:18px; 
    margin-top:5px;
    font-weight:400; 
    margin-bottom:10px;
    margin-left:0; 
    padding:0;
    position:relative;
    text-align:center;
}

.news-list li{
    content: " | ";
    color: cornflowerblue; 
}

ul.news-list{
    direction: rtl;
    text-align: right;
}

div p.test {
    direction: rtl;
    text-align: right;
    color: blue;
}

span.news-time{
    color: black;
}

span.news-source{
    text-align: left;
    color: black;
    font-weight: bold;
}

span.news-title{
    text-align: right;
    color: #000055;

}


/*
div.news-type li {
    direction: rtl;
}
*/

.navbar{
    direction: rtl;
    text-align: right;
}

.box-footer{
    text-align: center;
}

span.continue{
    direction: rtl;
    text-align: center;
}


@media (max-width:768px){
    ul.events-list{
        grid-template-columns: 1fr;
    }
}

