div.main-body{
    background-color: white;
    /* margin-left: 5%; */
    /* padding: auto; */
    padding: 2% 4% 4% 4%;
}

div.nav {
    font-family: Tahoma;
    text-align: center;
}

div.news-body{
    font-family: Tahoma;
    font-size: 110%;
    text-align: justify;
    background-color: white;
}
 img{
    max-width: 100%;
    width: auto;
}

div h2.news-title{
    font-family: Tahoma;
    text-align: center;
}

div.news-date{
    text-align: right;
}

div.news-source{
    text-align: right;
}

div.news-link{
    text-align: right;
}

div.comments{
    border: 1px;
    text-align: right;
    direction: rtl  ;
    margin-left: 40px;
    width: 95%;
}

p.commentsTitles{
    font-weight: bold;
}

div.middle{
    height: 40px;    
}

/*
div.news-type li {
    direction: rtl;
}
*/
@media (max-width:768px){
    ul.events-list{
        grid-template-columns: 1fr;
    }
}